$maj : uppercase;
$color1 : brown;

.jumbotron {
    text-transform: $maj;
    text-align: center;
    margin: 0;
    background-color: #F2984B;
}

.rest {
    background-color:$color1;
    margin : 0;

.design {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}


footer {
   height: 1px;
   background-color : grey;
}

.formulaire {
    text-transform: $maj;
    text-align:center;
    margin-top:150px;;
    background-color: $color1;
    font-weight:bold;
}

.form {
   position:absolute;
   top:50%;
   left:50%;
   width:300px;
   height:400px;
   margin-left:-150px; 
   margin-top:-200px;
   background-color: $color1;
   font-weight:bold;
}

.bodycontact {
    background-color: $color1;
}